body {
  background-color: cyan;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.title-bar {
  background-image: url(../Images/COVIDBanner.png);
  border-radius: 25px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0px 0px 0px 800px;
  overflow: hidden;
}

li {
  text-align: center;
  display: block;
  padding: 2px;
  color: white;
  font-size: 50px;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}




/*FORM AND USER INPUTS*/
.input-container{
  margin: 50px;
  padding: 50px 100px 50px 100px;
}

.user-input {
  padding: 50px;
}



.search-button-box{
  border-radius: 25px;
  padding: 0px 100px 0px 100px;
}

#search-button{
  border-radius: 25px;
  width: 200px;
}

#zip-input {
  width: 400px;

}

#radius-title {
  width: 400px;
}

